body {
    margin: 0;
}

/* The following are styles for section one. */
header {
    background-color: #1F2937;
    padding-bottom: 80px;
    padding-left: 60px;
}

.top {
    display: flex;
    flex-direction: row;
}

.logo {
    flex: 2 1 0%;
    color: #F9FAF8;
    font-size: 24px;
}

.links {
    display: flex;
    flex: 1;
    flex-direction: row;
    color: #E5E7EB;
    font-size: 18px;
}

.links div {
    margin: 5px;
}

.links a {
    color: #E5E7EB;
}

.links a:hover {
    color:#f9faf879;
}

.top-main {
    display:flex;
    flex-direction: row;
    flex: 1;
}

.top-main img {
    border: 4px red;
    height: 150px;
    width: 350px;
}

.main-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #F9FAF8;
}

.main-left p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.main-left button {
    height: 40px;
    width: 80px;
    background-color: #007acc;
    color: #F9FAF8;
    border-radius: 10px;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    margin: 5px;
}

.main-right {
    padding-right: 150px;
    padding-left: 350px;
}

/* The follow styles are for section 2. */

.section-2 {
    display: flex;
    flex-direction: column;
}

.s2-header {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.image-row {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

.image-row img {
    height: 100px;
    width: 120px;
    border: 4px solid blue;
    border-radius: 25px;
}

.image-row div {
    padding: 30px;
}

/* The following are styles for section three. */

.section-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote p {
    margin-bottom: 5px;
}

.attribution p {
    font-weight: bold;
    text-align: right;
    margin-top: 5px;
}

/* The following styles are for section four. */

.section-4 {
    display: flex;
    background-color: #007acc;
    border-radius: 15px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.s4-text {
    flex: 1 2 0%;
    color: #F9FAF8;
    margin-left: 80px;
}

.s4-text h1 {
    margin-bottom: 5px;
}

.s4-text p {
    margin-top: 5px;
}

.s4-button {
    align-items: center;
    margin:auto;
    margin-right: 80px;
}

/* The following styles are for section five. */

.section-5 {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}